@import '~variables.scss';

.app-container {
  width: 100%;
  height: 100%;  
}

.sidenav-content {
  display: flex;
  height: calc(100% - 80px);
  width:100%;
  margin:0;
  align-items: center;
  justify-content: center;
  margin-top:70px;
}

.sidenav {
    display:flex;
    flex-direction: column;
    padding: 20px;
    width:200px;
    button {
      width: 100%;
      margin : 0 0 10px 0;
      &.active {
          background-color: white;
          color: black;
      }
      &.bottom {
          margin-top:auto;
      }
    }
    .buttons {
        height : 100%;
        display: flex;
        flex-direction: column;
    } 
}  

.app-menu {
    position: fixed;
    top : 5px;
    left : 5px;
    z-index:100;
    
}

.navbar {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:70px;
    background-color: $primary;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    .title {
        width:100%;
        line-height:70px;
        font-size:25px;
        color:white;
    }
    padding-left: 100px;
}