:host {
    width:100%;
    height:100%;
    display:block;
    min-height: 100%;
    background-color: #333333;
    overflow: hidden;
    padding: 10px;
    cursor: none;
}

.error {
    width:100%;
    height:100%;
    line-height: 100%;
    text-align: center;
    color:white;
    cursor:default;
}