/* You can add global styles to this file, and also import other style files */
@import 'node_modules/@angular/material/core/theming/prebuilt/purple-green.scss';

html, body, material-app, md-sidenav-container {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.icon-button {
    .mat-button-wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    md-icon {
        margin-top : 6px;
    }
}